/* comentarios
-------------------------------------------------- */
#comments {
	display: block;
	clear: both;
}
	.comments-list {
		display: block;
		padding: 1.25rem 0;
		margin: 1.25rem 0 0 0;
		border-top: 1px solid #eee;
		list-style: none;
	}
		.comment {
			padding:0 0 1.25rem 0;
			margin: 0 0 1.25rem 0;
			border-bottom: 1px solid #eee;
		}
			.comment .vcard {
				padding: 0;
				margin: 0 0 1.25rem 0;
				border: none;
			}
				.comment .vcard img {
					border: 3px solid #eee;
					-webkit-border-radius: 50%;
					border-radius: 50%;
				}

			.comment-metadata {
				margin: 0 0 1.25rem 0;
				font-size: .75em;
			}